<a href="https://colab.research.google.com/github/abdurrahman16/python-OOP/blob/main/Advance_Data_Structure_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
#nested lists
school_clasess =[
    ['Babu', 'Chadny', 'Nimny'], #classA
    ['Opu','Toma', 'Sumon'], #ClassB
    ['Abdur','Rahman', 'Babban'] #ClassC
]

#print through nested loop
for i in range(3):
  print(f'Row: {chr(65+i)}')
  for j in range(3):
    print(school_clasess[i][j])

print('***'*30)
#print different way
for row in school_clasess:
  for value in row:
    print(value)

Row: A
Babu
Chadny
Nimny
Row: B
Opu
Toma
Sumon
Row: C
Abdur
Rahman
Babban
******************************************************************************************
Babu
Chadny
Nimny
Opu
Toma
Sumon
Abdur
Rahman
Babban