<a href="https://colab.research.google.com/github/abdurrahman16/python-OOP/blob/main/practice_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Practice Exercises 💪
## Loops, Strings, and Smart Operations

Welcome to your hands-on practice session! This notebook contains exercises to help you master:

- **For Loops & While Loops** 🔄
- **Break & Continue Statements** 🚦
- **String Operations** 📝
- **Arithmetic Operations** ➕➖✖️➗
- **Operator Precedence** 🎯
- **Math Functions** 📐

### Instructions:
1. Read each exercise carefully
2. Write your solution in the code cell below each exercise
3. Run your code to test it
4. Check the expected output when provided
5. Try different variations to deepen your understanding

Let's start coding! 🚀

Made by: Nazmus Sakib Ahmed, Lead Instructor Ostad.
Linkedin: https://www.linkedin.com/in/33sakib33/

## 🔄 Section 1: For Loops Practice

Let's practice different types of for loops!

### Exercise 1.1: Print Even Numbers
**Task:** Write a for loop that prints all even numbers from 2 to 20.

**Expected Output:**
```
2 4 6 8 10 12 14 16 18 20
```

In [3]:
i=0
for i in range(2,21,2):
  print(i)

2
4
6
8
10
12
14
16
18
20

### Exercise 1.2: Calculate Sum of List
**Task:** Given a list of numbers, calculate their sum using a for loop.

**Given:**
```python
numbers = [12, 35, 9, 56, 24]
```

**Expected Output:**
```
The sum of [12, 35, 9, 56, 24] is: 136
```

In [6]:
numbers = [12, 35, 9, 56, 24]
sum=0
for i in numbers:
  sum=sum+i
print(numbers,'is:',sum)

[12, 35, 9, 56, 24] is: 136

### Exercise 1.3: Print Multiplication Table
**Task:** Create a multiplication table for the number 7 from 1 to 10.

**Expected Output:**
```
7 × 1 = 7
7 × 2 = 14
7 × 3 = 21
...
7 × 10 = 70
```

In [8]:
n=7
for i in range (1,11):
  print(n,'x',i,'=',n*i)

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

## ⏰ Section 2: While Loops Practice

Time to master while loops!

### Exercise 2.1: Countdown Timer
**Task:** Create a countdown from 10 to 1, then print "Blast Off!"

**Expected Output:**
```
10
9
8
7
6
5
4
3
2
1
Blast Off!
```

In [10]:
n=10
while n>=1:
  print(n)
  n=n-1
print('Blast off!')

10
9
8
7
6
5
4
3
2
1
Blast off!

### Exercise 2.2: Find the Target Number
**Task:** Use a while loop to find how many times you need to double the number 2 to exceed 1000.

**Expected Output:**
```
Starting with: 2
After 1 doubles: 4
After 2 doubles: 8
After 3 doubles: 16
...
After 9 doubles: 1024
It took 9 doubles to exceed 1000
```

In [15]:
n=2
print('Starting with:',n)
count=0
while n<1000:
  n=n*2
  count=count+1
  print('After',count,'doubles:',n)
print('It took', count, ' doubles to exceed 1000')

Starting with: 2
After 1 doubles: 4
After 2 doubles: 8
After 3 doubles: 16
After 4 doubles: 32
After 5 doubles: 64
After 6 doubles: 128
After 7 doubles: 256
After 8 doubles: 512
After 9 doubles: 1024
It took 9  doubles to exceed 1000

## 🚦 Section 3: Break & Continue Practice

Let's practice controlling loop flow!

### Exercise 3.1: Find First Negative Number
**Task:** Find and print the first negative number in a list. Stop searching once you find it.

**Given:**
```python
numbers = [5, 12, -3, 8, -7, 15, -2]
```

**Expected Output:**
```
Checking: 5
Checking: 12
Checking: -3
Found first negative number: -3
```

In [22]:
numbers = [5, 12, -3, 8, -7, 15, -2]
for i in numbers:
  print('Checking:',i)
  if i<0:
    print('Found first negative number: ',i)
    break

Checking: 5
Checking: 12
Checking: -3
Found first negative number:  -3

### Exercise 3.2: Skip Multiples of 5
**Task:** Print numbers from 1 to 25, but skip (don't print) any number that is a multiple of 5.

**Expected Output:**
```
1 2 3 4 6 7 8 9 11 12 13 14 16 17 18 19 21 22 23 24
```

In [36]:
n=1
for i in range(1,26):
  if i%5==0:
    continue
  print(i, end=' ')

1 2 3 4 6 7 8 9 11 12 13 14 16 17 18 19 21 22 23 24

## 📝 Section 4: String Operations Practice

Time to master string manipulation!

### Exercise 4.1: Count Vowels
**Task:** Count how many vowels (a, e, i, o, u) are in a given sentence. Make it case-insensitive.

**Given:**
```python
sentence = "Python Programming is Amazing!"
```

**Expected Output:**
```
The sentence has 9 vowels
Vowels found: o, o, a, i, i, A, a, i
```

In [42]:
sentence = "Python Programming is Amazing!"
vowels = "aeiouAEIOU"

c=0
vow=[]
for char in sentence:
  if char in vowels:
    c+=1
    vow.append(char)

print(sentence)
print(vow)

Python Programming is Amazing!
['o', 'o', 'a', 'i', 'i', 'A', 'a', 'i']

### Exercise 4.2: Reverse Each Word
**Task:** Reverse each word in a sentence while keeping the word order the same.

**Given:**
```python
sentence = "Hello World Python"
```

**Expected Output:**
```
Original: Hello World Python
Reversed: olleH dlroW nohtyP
```

In [49]:
sentence = "Hello World Python"
rvword=' '.join(word[::-1] for word in sentence.split() )
print(sentence,'\n',rvword)

Hello World Python
 olleH dlroW nohtyP

### Exercise 4.3: Simple Password Checker
**Task:** Check if a password meets these criteria:
- At least 8 characters long
- Contains at least one digit
- Contains at least one uppercase letter

**Test with:**
```python
passwords = ["hello", "Hello123", "PASSWORD", "MyPass1"]
```

**Expected Output:**
```
hello: ❌ Too short, No digits, No uppercase
Hello123: ✅ Valid password
PASSWORD: ❌ No digits
MyPass1: ✅ Valid password
```

In [54]:
passwords = ["hello", "Hello123", "PASSWORD", "MyPass1"]

for i in passwords:
  print(i + ":", end=" ")
  if len(i) < 8:
    print('❌ Too short')
  elif not any(char.isdigit() for char in i):
    print('❌ No digits')
  elif not any(char.isupper() for char in i):
    print('❌ No uppercase')
  else:
    print('✅ Valid password')

hello: ❌ Too short
Hello123: ✅ Valid password
PASSWORD: ❌ No digits
MyPass1: ❌ Too short

## ➕➖✖️➗ Section 5: Arithmetic Operations Practice

Let's practice mathematical calculations!

### Exercise 5.1: Grade Calculator
**Task:** Calculate the average grade and determine letter grade.

**Given:**
```python
grades = [85, 92, 78, 96, 88]
```

**Grading Scale:**
- A: 90-100
- B: 80-89
- C: 70-79
- D: 60-69
- F: Below 60

**Expected Output:**
```
Grades: [85, 92, 78, 96, 88]
Average: 87.8
Letter Grade: B
```

In [ ]:
grades = [85, 92, 78, 96, 88]

# Your solution here:
# Calculate sum, then divide by length for average
# Use if-elif statements for letter grade

### Exercise 5.2: Shopping Bill Calculator
**Task:** Calculate total bill with discount and tax.

**Given:**
```python
item_prices = [25.99, 12.50, 8.75, 45.00]
discount_percent = 15  # 15% discount
tax_percent = 8.5      # 8.5% tax
```

**Calculation Steps:**
1. Calculate subtotal
2. Apply discount
3. Apply tax on discounted amount

**Expected Output:**
```
Item prices: [25.99, 12.5, 8.75, 45.0]
Subtotal: $92.24
After 15% discount: $78.40
After 8.5% tax: $85.06
Final bill: $85.06
```

In [ ]:
item_prices = [25.99, 12.50, 8.75, 45.00]
discount_percent = 15  # 15% discount
tax_percent = 8.5      # 8.5% tax

# Your solution here:
# Step 1: Sum all prices
# Step 2: Subtract discount (subtotal * discount_percent / 100)
# Step 3: Add tax (discounted_amount * tax_percent / 100)

## 📐 Section 6: Math Functions Practice

Time to use the math module for advanced calculations!

### Exercise 6.1: Geometry Calculator
**Task:** Calculate the area of different shapes using math functions.

**Given shapes:**
1. Circle with radius = 7
2. Right triangle with sides a = 8, b = 6 (find hypotenuse and area)
3. Square with side = 5 (find diagonal)

**Expected Output:**
```
Circle (radius=7):
  Area = 153.94 square units

Right Triangle (a=8, b=6):
  Hypotenuse = 10.0
  Area = 24.0 square units

Square (side=5):
  Area = 25 square units
  Diagonal = 7.07
```

In [ ]:
import math

# Your solution here:
# Circle: area = π * r²
# Triangle: hypotenuse = √(a² + b²), area = (a * b) / 2
# Square: diagonal = side * √2

### Exercise 6.2: Height of a Building
**Task:** Calculate the height of a building using trigonometry.

**Problem:** You're standing 50 meters away from a building. The angle of elevation to the top of the building is 30 degrees. Calculate the height of the building.

**Formula:** height = distance × tan(angle)

**Expected Output:**
```
Distance from building: 50 meters
Angle of elevation: 30 degrees
Height of building: 28.87 meters
```

In [ ]:
distance = 50  # meters
angle_degrees = 30

# Your solution here:
# Convert degrees to radians: math.radians()
# Use math.tan() to calculate height

## 🏆 Section 7: Challenge Problems

Ready for some advanced challenges? These combine multiple concepts!

### Challenge 1: Number Pattern Generator
**Task:** Create a pattern where each row has increasing numbers and symbols.

**Expected Output:**
```
Row 1: * 1 *
Row 2: ** 1 2 **
Row 3: *** 1 2 3 ***
Row 4: **** 1 2 3 4 ****
Row 5: ***** 1 2 3 4 5 *****
```

**Requirements:**
- Use nested loops or string multiplication
- Combine strings and numbers
- Create exactly 5 rows

In [ ]:
# Your solution here:
# Hint: Use range(1, 6) for rows, and range(1, row+1) for numbers
# Use "*" * row to create the stars

### Challenge 2: Text Analyzer
**Task:** Create a comprehensive text analyzer that counts various statistics.

**Given:**
```python
text = "Python programming is fun and powerful. Python makes coding enjoyable!"
```

**Required Analysis:**
- Total characters (including spaces)
- Total words
- Total sentences (count periods and exclamation marks)
- Most frequent word (case-insensitive)
- Average word length

**Expected Output:**
```
Text Analysis Results:
===================
Total characters: 77
Total words: 11
Total sentences: 2
Most frequent word: 'python' (appears 2 times)
Average word length: 5.45 characters
```

In [ ]:
text = "Python programming is fun and powerful. Python makes coding enjoyable!"

# Your solution here:
# Hints:
# - Use len(text) for characters
# - Use split() for words
# - Count '.' and '!' for sentences
# - Create a dictionary to count word frequency
# - Calculate average by summing word lengths and dividing by word count

### Challenge 3: Prime Number Finder
**Task:** Find all prime numbers between 1 and 50, calculate their sum, and find the largest gap between consecutive primes.

**Prime Definition:** A number greater than 1 that has no positive divisors other than 1 and itself.

**Expected Output:**
```
Prime numbers between 1 and 50:
2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47

Statistics:
- Total primes found: 15
- Sum of all primes: 328
- Largest gap between consecutive primes: 4 (between 23 and 29)
```

**Hint:** Use nested loops and the modulus operator to check divisibility.

In [ ]:
# Your solution here:
# Algorithm:
# 1. For each number from 2 to 50:
#    - Check if it's divisible by any number from 2 to sqrt(number)
#    - If no divisors found, it's prime
# 2. Calculate sum and find largest gap

## 🎉 Congratulations!

You've completed all the practice exercises! Here's what you've practiced:

### Skills Covered:
- ✅ **For Loops**: Iteration, ranges, and list processing
- ✅ **While Loops**: Conditional repetition and counters
- ✅ **Break & Continue**: Flow control and early exits
- ✅ **String Operations**: Manipulation, analysis, and formatting
- ✅ **Arithmetic**: Calculations, operators, and precedence
- ✅ **Math Functions**: Advanced mathematical operations

### Solution Tips:
If you got stuck, here are some general approaches:
1. **Break down complex problems** into smaller steps
2. **Use print statements** to debug your logic
3. **Test with simple examples** first
4. **Don't forget to handle edge cases**
5. **Read error messages carefully** - they often tell you exactly what's wrong

### Next Steps:
- Try modifying the exercises with different inputs
- Combine multiple concepts in your own projects
- Explore Python documentation for more built-in functions
- Practice regularly to build muscle memory

Keep coding and keep learning! 🚀🐍